Relatório de Validação

<img src="evidence/foto_apresentacao.jpg" width="400" alt="Página Inicial">

Data: 30/11/2025 Local: Aldeota/Fortaleza Participante: Ana Paula, moradora local.

Resumo: Apresentamos o protótipo da "Vitrine de Artesanato" para a participante. Ela navegou pela lista de produtos e identificou facilmente os preços e os nomes dos artesãos.

Feedback: A usuária elogiou as fotos dos produtos, especialmente o tapete de crochê, pois facilitou a visualização do trabalho. A função de "Comprar no Zap" foi considerada muito útil.

Conclusão: O sistema atende ao objetivo de conectar artesãos e clientes de forma simples.